workflows/invoice_extraction.json
{
  "name": "Extraction Factures",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "facture",
        "responseMode": "lastNode",
        "options": {}
      },
      "id": "a1b2c3d4-0001-4000-8000-000000000001",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [
        200,
        300
      ],
      "webhookId": "facture"
    },
    {
      "parameters": {
        "jsCode": "// Convertir le fichier binaire reçu en base64\nconst binaryData = $input.first().binary;\n\nif (!binaryData) {\n  throw new Error('Aucun fichier reçu. Envoyez une image.');\n}\n\nconst binaryKey = Object.keys(binaryData)[0];\nconst fileBuffer = await this.helpers.getBinaryDataBuffer(0, binaryKey);\nconst base64Image = fileBuffer.toString('base64');\nconst mimeType = binaryData[binaryKey].mimeType;\nconst fileName = binaryData[binaryKey].fileName || 'document';\n\nreturn [{\n  json: {\n    base64Image,\n    mimeType,\n    fileName\n  }\n}];"
      },
      "id": "a1b2c3d4-0002-4000-8000-000000000002",
      "name": "Code Base64",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        420,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://ollama:11434/api/generate",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ JSON.stringify({ model: 'moondream:latest', prompt: 'Extract ALL invoice data as JSON with these exact keys: {\"fournisseur\":{\"nom\":\"\",\"adresse\":\"\",\"telephone\":null,\"email\":null,\"matricule_fiscal\":\"\"},\"client\":{\"nom\":null,\"adresse\":null},\"facture\":{\"numero\":\"\",\"date\":\"\",\"devise\":\"\"},\"articles\":[{\"designation\":\"\",\"quantite\":0,\"prix_unitaire\":0,\"total_ligne\":0}],\"totaux\":{\"total_ht\":0,\"total_tva\":0,\"total_ttc\":0,\"timbre_fiscal\":null}}. Use null for missing fields. Use numbers (dot decimal) for amounts. Respond ONLY with valid JSON.', images: [$json.base64Image], stream: false, options: { temperature: 0.1, num_predict: 4096 } }) }}",
        "options": {
          "timeout": 600000
        }
      },
      "id": "a1b2c3d4-0003-4000-8000-000000000003",
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ]
    },
    {
      "parameters": {
        "jsCode": "const response = $input.first().json;\nconst text = response.response || '';\n\n// Extraire le JSON de la réponse\nconst firstBrace = text.indexOf('{');\nconst lastBrace = text.lastIndexOf('}');\n\nif (firstBrace === -1 || lastBrace === -1) {\n  return [{ json: { success: false, error: 'JSON non trouvé', raw: text.substring(0, 500) } }];\n}\n\nlet jsonStr = text.substring(firstBrace, lastBrace + 1);\n\nlet data;\ntry {\n  data = JSON.parse(jsonStr);\n} catch (e) {\n  // Tenter de corriger les virgules trailing\n  jsonStr = jsonStr.replace(/,\\s*([}\\]])/g, '$1');\n  try {\n    data = JSON.parse(jsonStr);\n  } catch (e2) {\n    return [{ json: { success: false, error: 'JSON invalide: ' + e2.message, raw: jsonStr.substring(0, 500) } }];\n  }\n}\n\nconst fileName = $('Code Base64').first().json.fileName || 'unknown';\n\n// Préparer les warnings\nconst warnings = [];\nif (!data.fournisseur?.nom) warnings.push('Nom fournisseur manquant');\nif (!data.facture?.numero) warnings.push('Numéro facture manquant');\nif (!data.articles || data.articles.length === 0) warnings.push('Aucun article');\nif (data.totaux?.total_ttc == null) warnings.push('Total TTC manquant');\n\nreturn [{\n  json: {\n    success: true,\n    extraction: data,\n    metadata: {\n      source_file: fileName,\n      extraction_date: new Date().toISOString(),\n      model_used: 'moondream',\n      validation_warnings: warnings,\n      is_valid: warnings.length === 0,\n      nombre_articles: data.articles?.length || 0\n    }\n  }\n}];"
      },
      "id": "a1b2c3d4-0004-4000-8000-000000000004",
      "name": "Code in JavaScript",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        900,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code Base64",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code Base64": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "tags": [
    {
      "name": "factures",
      "id": "1"
    },
    {
      "name": "ollama",
      "id": "2"
    }
  ]
}